<div class="container-fluid mycontainer">
  <table class="table table-hover"></table>
  <div class="row myrows align-items-center">
    <div class="col-3 mycols bold">#</div>
    <div class="col-3 mycols bold">Daily</div>
    <div class="col-3 mycols bold">Rapid</div>
    <div class="col-3 mycols bold">Blitz</div>
  </div>
  <div class="row myrows align-items-center">
    <div class="col-3 mycols bold">Score</div>
    <div class="col-3 mycols" id="dailyValue">No Value</div>
    <div class="col-3 mycols" id="rapidValue">No Value</div>
    <div class="col-3 mycols" id="blitzValue">No Value</div>
  </div>
  <div class="row myrows align-items-center">
    <div class="col-3 mycols bold">Wins</div>
    <div class="col-3 mycols" id="dailyVictories">No Value</div>
    <div class="col-3 mycols" id="rapidVictories">No Value</div>
    <div class="col-3 mycols" id="blitzVictories">No Value</div>
  </div>

  <div class="row myrows align-items-center">
    <div class="col-3 mycols bold">Losses</div>
    <div class="col-3 mycols" id="dailyLosses">No Value</div>
    <div class="col-3 mycols" id="rapidLosses">No Value</div>
    <div class="col-3 mycols" id="blitzLosses">No Value</div>
  </div>
</div>
