* {
  font-family: "Newsreader", serif;
}

.mainWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: auto;
  background-color: white;
  color: black;
}

img {
  width: 70px;
}

app-footer {
  width: 100%;
}

#profilePic,
#defaultProfilePic {
  width: 150px;
  border-radius: 50%;
}

p {
  font-size: larger;
}
