* {
  margin: 0px;
  padding: 0px;
  font-family: "Arial";
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  width: auto;
  background-color: white;
  color: black;
}

app-footer {
  width: 100%;
}

app-input {
  margin-bottom: 20rem;
}
